@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    @apply bg-gray-100 min-h-full;
}
div {
  @apply block;
}
h1 {
  @apply font-semibold text-5xl m-5;
}
h2 {
  @apply font-semibold text-3xl m-3;
}
h3 {
  @apply font-semibold text-2xl;
}
h4 {
  @apply font-semibold text-xl;
}
p {
  text-rendering: optimizeLegibility;
  @apply text-xl mb-2 max-w-xs;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: italic;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
hr {
  @apply m-2;
}
a {
  @apply underline text-indigo-500;
}
a:visited {
  @apply text-indigo-600;
}
a:visited.text-white{
  @apply text-indigo-100;
}
 nav a {
   @apply no-underline
 }
 nav a:visited {
   @apply text-indigo-200;
 }
 ul {
   @apply text-left list-disc ml-6 my-4 text-xl;
 }
 ul ul {
   list-style-type: circle;
 }
 ol {
   @apply text-left list-decimal ml-6 my-4 text-xl;
 }
.body-container {
  @apply  h-screen grid;
  grid-template-rows: auto 1fr auto;
}
.max-w-viewport {
  max-width: 100vw;
}
.container-center {
    @apply flex justify-center flex-col items-center text-center mx-auto;
}
.container-title {
  background: linear-gradient(90deg, #4c51bf, #313587);
}
.container-title > h1 {
  color: white;
}
.section-container {
  @apply flex justify-center;
}
.article-container {
  overflow-wrap: break-word;
  word-break: break-word;
  @apply mx-8 flex flex-col justify-center;
}
.article-container p {
  
}
.article-container p.text-center {
  @apply text-center;
}
.svg-logo {
  max-width: 100%;
  height: 15rem;
}
.career-card {
  @apply shadow-lg p-4 w-full;
}
.career-card .main-career {
  @apply flex flex-col;
}
.career-card p {
  @apply mx-auto;
}
.sub .career-card {
  @apply mt-2 px-4;
}
.career-card picture {
  @apply flex justify-center items-center mx-4 bg-indigo-100 rounded-lg p-4 shadow h-64;
}
.sub .career-card picture {
  @apply h-auto;
}
.company-logo {
  max-height: 24rem;
  width: 100%
}

@screen sm {
  p {
    @apply max-w-sm;
  }  
  .career-card .main-career {
    @apply flex-row;
  }
  .sub  {
    @apply mr-24 w-full;
  }
  .career-card > picture {
    @apply w-1/3;
  }
}
@screen md {
  .article-container {
    @apply pl-16 pr-16;
  }
  h1 {
    @apply text-4xl;
  }
  p {
    @apply max-w-none;
  }
}

@screen lg {  
  p {
    @apply max-w-none;
  }
}

@screen xl {
  .article-container {
    @apply max-w-4xl
  }
  .career-card {
    @apply px-32 m-4;
  }
  p {
    @apply max-w-4xl;
  }
}